.page-header {
  margin: 60px 0px 20px;
}

/*http://www.bootply.com/FeJJdMx2F5*/
.bg-1 {
	background-image: url('../pictures/bgkites/multikite_800.gif');
  background-repeat: no-repeat;
  background-size: contain;
}


/*body {
background:
  url('../pictures/bgkites/bluekite1.gif') right 20px no-repeat fixed,
  url('../pictures/bgkites/orangekite1.gif') left 200px no-repeat fixed,
  url('../pictures/bgkites/yellowkite1.gif') 65% 400px no-repeat fixed,
  url('../pictures/bgkites/redkite1.gif') 25% 30px no-repeat fixed;
background-color: #FFF9F4;
}*/

/*
red: #C25C57
orange: #F9AC66
blue: #788881
green: #608971
yellow: #FFE265
*/


/*body {
background-image: url('../pictures/bgkites/bluekite1.gif');
background-repeat: no-repeat;
background-attachment: fixed;
background-position: right 20px;
background-color: #FFF9F4;
}*/
