.page-header {
  margin: 60px 0px 20px;
}

/*http://www.bootply.com/FeJJdMx2F5*/
.bg-1 {
	background-image: url('../pictures/bgkites/multikite_800.gif');
  background-repeat: no-repeat;
  background-size: contain;
}

body {
  background-color: #FFF9F4;
}
